* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* padding: 90px; */
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container .img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 50px rgb(99, 99, 170);
    margin-left: 100px;
}

.main-container .img img {
    width: 100%;
}

.main-container .img:hover {
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.main-container .content {
    color: white;
    width: 40%;
    min-height: 100px;
    margin-right: 100px;
}

.content h1 {
    font-size: 20px
    ;
}

.content h1 span {
    color: royalblue;
    text-shadow: 0 0 10px royalblue;
}

.content .typewrite {
    font-size: 50px
}

.content .typewriter-text {
    color: royalblue;
    text-shadow: 0 0 10px royalblue;
}

.content p {
    font-size: 20px;
    margin: 10px 0;
}

.social-link i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid royalblue;
    border-radius: 50%;
    color: royalblue;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: 0.2srem;
}
.social-link h3 {
    font-weight: 300;
    font-size: 1rem;
    padding: 10px 0;
}

.social-link i:hover {
    scale: 1.3;
    color: rgb(255, 255, 255);
    background-color: royalblue;
    filter: drop-shadow(0 0 10px royalblue);
}

/* From Uiverse.io by xueyuantan */
button {
    width: 9em;
    height: 3em;
    margin: 30px;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}

/* ========================================================== */
@media (max-width: 575.98px) {
    .main-container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .content .typewrite {
        font-size: 30px
    }
    .main-container .content {
        width: 80%;
        margin-top: 20px;
        margin: 0;
    }

    .social-link {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .img {
        /* z-index: -1; */
        width: 250px;
        height: 250px;
        margin: 0;
    }
    .main-container .content p{
        width: 100%;
        padding: 0%;
    }

    .social-link {
        display: flex;
    }
}
/* ========================== */
@media (max-width: 768.98px) { 
    .main-container {
        margin-top: 40px;
        display: flex;
        /* flex-direction: column; */
    }

    .main-container .content {
        width: 80%;
        margin-top: 20px;
        margin: 0;
    }

    .social-link {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .img {
        /* z-index: -1; */
        width: 50%;
        height: 60%;
        margin: 50px;
    }
    .main-container .content p{
        width: 100%;
        padding: 0%;
    }

    .social-link {
        display: flex;
    }
 }
 /* ================================== */
 @media (max-width: 1199.98px) { 
    .main-container {
        margin-top: 40px;
        display: flex;
        /* flex-direction: column; */
    }
    .content .typewrite {
        font-size: 30px
    }

    .main-container .content {
        width: 80%;
        margin-top: 20px;
        margin: 0;
    }

    .social-link {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .img {
        /* z-index: -1; */
        width: 50%;
        height: 60%;
        margin: 50px;
    }
    .main-container .content p{
        width: 100%;
        padding: 0%;
    }

    .social-link {
        display: flex;
    }
  }
